# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure Functions: https://aka.ms/python-webapps-actions

name: Build and deploy Python project to Azure Function App - Azu0121SyDvJpeFunc002

on:
  push:
    branches:
      - staging
  workflow_dispatch:

jobs:
  call-workflow:
    uses: t-namiki-estyle/icf-i-style/.github/workflows/reusable-azure-functions-python-deploy.yml@main
    with:
      PYTHON_VERSION: "3.12"
      APP_NAME: 'Azu0121SyDvJpeFunc002'
      AZURE_FUNCTIONAPP_PACKAGE_PATH: "."
    secrets:
      I_STYLE_TOKEN: ${{ secrets.ICF_ISTYLE_PAT_SECRET }}
      PUBLISH_PROFILE: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_EFBBDF904C694968AB2D2DDD8ACD0310 }}